/*Central MENU*/
.menu {
    background: $menu-central;
    & .container {
        display: flex;
        justify-content: flex-start;
        ul {
            display: flex;
            justify-content: flex-start;
            margin: 0;
            & li {
                padding: 15px 30px;
            &:hover, &.active{
                    background: $color-text;
                    border-bottom: 3px solid black;
                }
            }
        }
    }
}