//COLORS
$black: #000;
$color-text: #fff;
$link-col: #989898;
$important-col: dodgerblue;
//Sections
$menu-central: #e6e6e6;
$carousel-icons: #e74500;
$photo-section: #222222;
//Buttons
$button-col: #666666;
$button-btn: dodgerblue;
$button-hover: #009cff;
//Social
$insta-col: #e4405f;
$facebook-col: #3b5998;
$twitter-col: #1da1f2;
$youtube-col: #cd201f;
$pinterest-col: #bd081c;
$blog-col: #ff8d00;
